<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Bienvenid(aeiou)</h1>
  <form action="/login" method="POST">
    <label>Correo
		<input name="email" placeholder="mail@example.com" type="email" />
	</label>
    <label>Contraseña
		<input name="password" type="password" />
	</label>
    <button type="submit">entrar</button>
  </form>
</body>
</html>
