<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>¿Nuevo usuario?</h1>
  <form action="/sign-up" method="POST">
    <label>Correo
		<input name="email" placeholder="mail@example.com" type="email" />
	</label>
    <label>Nombre de usuario
		<input name="username" placeholder="miUsuario" type="text" />
	</label>
    <label>Contraseña
		<input name="password" type="password" />
	</label>
    <label>Confirma tu contraseña
		<input name="password_confirm" type="password" />
	</label>
    <button type="submit">Registrarse</button>
  </form>
</body>
</html>
